SmallVenueBookingSystem/VenueBookingSystem.Launcher/Service References/VenueService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65107/VenueDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65107/VenueDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65107/VenueDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmallVenueBookingSystem" />
      <xsd:import schemaLocation="http://localhost:65107/VenueDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetSeatingDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeatingDetails" />
  </wsdl:message>
  <wsdl:message name="IService_GetSeatingDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeatingDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BookVenueSeats_InputMessage">
    <wsdl:part name="parameters" element="tns:BookVenueSeats" />
  </wsdl:message>
  <wsdl:message name="IService_BookVenueSeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookVenueSeatsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetSeatingDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSeatingDetails" message="tns:IService_GetSeatingDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSeatingDetailsResponse" message="tns:IService_GetSeatingDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookVenueSeats">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BookVenueSeats" message="tns:IService_BookVenueSeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BookVenueSeatsResponse" message="tns:IService_BookVenueSeats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSeatingDetails">
      <soap:operation soapAction="http://tempuri.org/IService/GetSeatingDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookVenueSeats">
      <soap:operation soapAction="http://tempuri.org/IService/BookVenueSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:65107/VenueDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>