SmallVenueBookingSystem/VenueBookingSystem.Launcher/Service References/VenueService/VenueDataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65107/VenueDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmallVenueBookingSystem" />
  <xs:import schemaLocation="http://localhost:65107/VenueDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetSeatingDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeatingDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmallVenueBookingSystem" minOccurs="0" name="GetSeatingDetailsResult" nillable="true" type="q1:ArrayOfVenueSeatingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookVenueSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="seats" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookVenueSeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookVenueSeatsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>