SmallVenueBookingSystem/VenueBookingSystem.Launcher/Service References/VenueService/VenueDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmallVenueBookingSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmallVenueBookingSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVenueSeatingDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VenueSeatingDetails" nillable="true" type="tns:VenueSeatingDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenueSeatingDetails" nillable="true" type="tns:ArrayOfVenueSeatingDetails" />
  <xs:complexType name="VenueSeatingDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Booked_Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Partially_Enabled" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seat_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="booking_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAvailable" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VenueSeatingDetails" nillable="true" type="tns:VenueSeatingDetails" />
</xs:schema>